install-docker.sh
node_modules/
dist/
*.tsbuildinfo
*.log
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.nyc_output
jspm_packages/
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.next
.nuxt
.out
.storybook-out
tmp/
temp/ 
install-docker.sh 
test.ts